<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Elements basical</title>
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.css">
</head>

<body>
	<div title="buttons">
		<div class="ui button">following</div>
		<!--keyborad focusable-->
		<button class="ui button" tabindex="0">button1</button>
		<button class="ui button" tabindex="1">button2</button>
		<div class="ui button primary">primary button</div>
		<div class="ui button secondary">secondary button</div>
		<!--animated button-->
		<div class="ui button animated" tabindex="0">
			<div class="visible content">Next</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
		<div class="ui button animated vertical" tabindex="0">
			<div class="visible content">Next</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
		<div class="ui button animated fade" tabindex="0">
			<div class="visible content">Next</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
		<!--labeld button-->
		<div class="ui button labeled" tabindex="0">
			
		</div>
	</div>

</body>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/semantic/dist/semantic.js"></script>
<script type="text/javascript">

</script>
</html>