<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Elements basical</title>
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.css">
</head>

<body>
	<div title="buttons">
		<div class="ui button">following</div>
		<!--keyborad focusable-->
		<button class="ui button" tabindex="0">button1</button>
		<button class="ui button" tabindex="1">button2</button>
		<div class="ui button primary">primary button</div>
		<div class="ui button secondary">secondary button</div>
		<!--animated button-->
		<div class="ui button animated" tabindex="0">
			<div class="visible content">Next</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
		<div class="ui button animated vertical" tabindex="0">
			<div class="visible content">Next</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
		<div class="ui button animated fade" tabindex="0">
			<div class="visible content">Next</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
		<!--labeld button-->
		<!--class in order-->
		<div class="ui left labeled button " tabindex="0">
			<a class="ui basic right pointing label">2,046</a>
			<div class="ui button"><i class="icon heart"></i>like</div>
		</div>
		<div class="ui left labeled button" tabindex="0">
		  <a class="ui basic right pointing label">
		    2,048
		  </a>
		  <div class="ui button">
		    <i class="heart icon"></i> Like
		  </div>
		</div>
		<div class="ui labeled button" tabindex="0">
		  <div class="ui red button">
		    <i class="heart icon"></i> Like
		  </div>
		  <a class="ui basic red left pointing label">
		    1,048
		  </a>
		</div>
		<!--icon button-->
		<div class="ui button icon">
			<i class="cloud icon"></i>
		</div>

		<button class="ui  labeled icon button "><i class="pause icon"></i>Pause</button>

		<!--basic button-->
		<div class="ui basic  button"><i class="user icon"></i>Add Friend</div>

		<button class="ui red basic button">Red</button>
	</div>

</body>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/semantic/dist/semantic.js"></script>
<script type="text/javascript">

</script>
</html>